<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <title>Food Truck</title>
</head>
<body>
    <h1>Food Truck</h1>

    <div th:each = "foodtruck: ${foodtrucks}">
        <p th:text = "${foodtruck.name}"></p>
        <p th:each="cuisine: ${foodtruck.cuisines}" th:text="${cuisine.name}"></p>
        <p th:each="review: ${foodtruck.reviews}" th:text="${review.name}"></p>
        <img th:src="@{'/images/' + ${foodtruck.map} + '.jpg'}" alt = "Picture"/>
        
  		<a href="http://localhost:8080/show-all-cuisines">List of Cuisines</a>
        
        <a href="http://localhost:8080/show-all-reviews">List of Reviews</a>
        
        <a href="http://localhost:8080/show-all-foodtrucks">Back to home</a>
    </div>
   
</body>
</html>