<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <title>Food Truck</title>
</head>
<body>
    <h1>Food Truck</h1>

    <!-- <ul>
        <li th:each = "foodtruck: ${foodtrucks}" th:text = "${foodtruck.name}"></li>
        <li th:each = "cuisine: ${foodtruck.cuisines}" th:text = "${cuisine.type}"></li>
        <li th:each = "review: ${review.cuisines}" th:text = "${cuisine.type}"></li>
    </ul> -->
    <div th:each = "foodtruck: ${foodtrucks}">
        <p th:text = "${foodtruck.name}"></p>
        <p th:text = "${foodtruck.cuisines}"></p>
        <p th:text = "${foodtruck.reviews}"></p>>
        <a href="http://localhost:8080/show-all-foodtrucks">Back to home</a>
    </div>

</body>
</html>