<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <title>Columbus Food Trucks</title>
</head>
<body>
    <h1>Columbus Food Trucks</h1>

    <div th:each = "Foodtruck: ${Foodtrucks}">
        <p th:text = "${Foodtruck.name}"></p>
        <p th:text = "${Foodtruck.description}"></p>
        <p th:text = "${Foodtruck.cuisine}"></p>
        <p th:text = "${Foodtruck.review}"></p>
        <a href="http://localhost:8080/show-all-foodtrucks">Back to home</a>
    </div>

</body>
</html>