<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Food Trucks</title>
</head>
<link rel="stylesheet" href="./css/styles.css">
<body>
    <h1>List of Food Trucks</h1>

    <div class="navbar">
            <a href="#home">Home</a>
            <a href="#cuisines">Cuisines</a>
            <a href="#reviews">Reviews</a>
            <div class="dropdown">
              <button class="dropbtn">Food Trucks 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                    <div th:each="foodtruck: ${foodtrucks}">
                            <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></a>
                    </div>
              </div>
            </div> 
          </div>
<!--     
    <div th:each="foodtruck: ${foodtrucks}">
        <li class= "foodtrucks">
            <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></a>
        </li>     
    </div> -->
        <footer>
        <a href="http://localhost:8080/show-all-cuisines">List of Cuisines</a>
        
        <a href="http://localhost:8080/show-all-reviews">List of Reviews</a>
        </footer>
  
</body>
</html>