<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Food Trucks</title>
    <link rel="stylesheet" type = "text/css" href="src\main\resources\static\style.css">
</head>
<body>
        <h1>List of Food Trucks</h1>

    <div th:each="foodtruck: ${foodtrucks}">
        <li>
            <a th:href="@{/foodtruck(id=${foodtruck.id})}" th:text="${foodtruck.name}"></a>
        </li>
            
    </div>
    
        <a href="http://localhost:8080/show-all-cuisines">List of Cuisines</a>
        
        <a href="http://localhost:8080/show-all-reviews">List of Reviews</a>
      
<script src="/src/main/resources/static/js/app.js"></script>
</body>
</html>